# Copia este archivo como .env y ajusta los valores

# Configuración de MariaDB
MYSQL_ROOT_PASSWORD=tu_password_root
MYSQL_DATABASE=nombre_base_datos
MYSQL_USER=tu_usuario
MYSQL_PASSWORD=tu_password

# Configuración de phpMyAdmin
PMA_HOST=mariadb
PMA_PORT=3306
PMA_USER=tu_usuario
PMA_PASSWORD=tu_password

# Puertos
MARIADB_PORT=3306
PHPMYADMIN_PORT=8080